.contact_table_data tr th {
    border: 1px solid;
    height: 40px;
    text-align: left;
    padding: 10px;
}
.contact_table_data tr td {
    border: 1px solid;
    height: 40px; 
    padding: 10px;
}
.contact_table_data .table {
    width: 100%;
}
.contact_table_data thead th {
    background: #57574a;
    color: #fff;
}