.homepage_color {
    position: absolute;
    right: 0; 
    top: 1rem;
}

ul.color_mode {
    display: flex;
    margin: 0;
    height: 45px;
    align-items: center;
    padding: 0;
}

ul.color_mode li {
    margin: 7px;
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
    border-radius: 50%;
    list-style: none;
}

.toggle_style_switcher {
    font-size: 1.4rem;
    line-height: 43px;
}
.toggle_style_switcher {
    height: 45px;
    width: 45px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: -45px;
    background: #fff;
    text-align: center;
}
.style_switcher {
    background: #fff;
    position: relative;
    transition: all 0.3s ease;
    transform: translateX(100%);
}
.style_switcher h4 {
    display: flex;
    margin: 0;
    align-items: center;
    height: 45px;
    padding-left: 1rem;
    border-bottom: 1px solid;
}
.b_color {
    padding: 1rem 0;
    padding-left: 10px;
}
.body_color h4 {
    height: 24px; 
    border-bottom: 1px solid;
    padding: .4rem 0;
    padding-left: 10px;
}
.body_color {
    background: #fff; 
}
.style_switcher.open{
    transform: translateX(0%);
}
li#pink {
    background: #ec1839;
}
li#blue {
    background: #2196f3;
}
li#orange {
    background: #fa5b0f;
}
li#yellow {
    background: #ffb400;
}
li#green {
    background: #72b626;
}
li#gray {
    background: #720472;
}