.hobbies i {
    font-size: 1.4rem;
    margin-bottom: 8px;
}
.hobbies:nth-child(even) {
    margin-left: 6px;
}
.hobbies:nth-child(odd) {
    margin-right: 6px;
}
.hobbies {
    width: calc(100% - 59%);
    float: left;
    text-align: center;  
    margin-bottom: 12px;
    transition: .5s;
    position: relative;
    padding: 37px 4px; 
    margin-bottom: 2rem; 
    background: white; 
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); 
}
p.view_mode {
    width: 10px;
    height: 10px;
    background: gray;
}
.hobbies:hover { 
    transform: translateY(-10px);
}